@import "../web-fonts-with-css/css/fontawesome-all.css";
@import "media.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansLight-Italic.eot");
  src: url("../fonts/OpenSansLight-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight-Italic.woff2") format("woff2"), url("../fonts/OpenSansLight-Italic.woff") format("woff"), url("../fonts/OpenSansLight-Italic.ttf") format("truetype"), url("../fonts/OpenSansLight-Italic.svg#OpenSansLight-Italic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.eot");
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
}

header {
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}
header h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 80px;
  color: white;
  text-align: center;
  padding-top: 265px;
}
header h1 span {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}
header .logo {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 47px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
header .logo p {
  font-size: 16px;
  padding-top: 30px;
  padding-right: 48px;
  display: inline-block;
  justify-content: space-between;
}
header .logo a {
  font-size: 22px;
  display: inline-block;
}
header .logo a i {
  font-size: 20px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  border: 3px solid white;
  border-radius: 50%;
  padding: 8px 10px;
}

.owl-carousel .owl-carousel {
  position: relative;
}
.owl-carousel .owl-carousel .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 48%;
}
.owl-carousel .owl-carousel .owl-dots .owl-dot {
  margin: 5px;
  background-color: #FFFFFF;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  display: inline-block;
}
.owl-carousel .owl-carousel .owl-dots .active {
  height: 20px;
  width: 20px;
}

.background {
  position: relative;
}
.background .wallp {
  z-index: 1;
  background: url("../images/index_02.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.background .wallp2 {
  z-index: 1;
  background: url("../images/rolls-royce-wraith-eagle-viii-2019-4k-3g-2880x1800.jpeg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.background .wallp3 {
  z-index: 1;
  background: url("../images/teahub.io-triumph-bonneville-wallpaper-1540469.png") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  padding-bottom: 165px;
  padding-top: 80px;
  margin: auto;
  text-align: center;
  max-width: 765px;
  background-color: #ffffff;
}
.container h3 {
  text-transform: uppercase;
  font-size: 13px;
  color: #e2ca88;
}
.container h2 {
  padding-top: 25px;
  font-size: 44px;
  color: #747a7f;
}
.container p {
  padding-top: 55px;
  font-size: 18px;
  color: #021725;
  padding-bottom: 50px;
}
.container a {
  height: 60px;
  width: 238px;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid black;
  padding: 15px 25px;
  color: black;
}

.container2 {
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}
.container2 h3 {
  text-transform: uppercase;
  font-size: 13px;
  color: #e2ca88;
}
.container2 h2 {
  padding-top: 25px;
  font-size: 44px;
  color: #4d5c66;
  padding-bottom: 90px;
}

.portfolio {
  max-width: 765px;
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}
.portfolio h3 {
  padding-top: 165px;
  text-transform: uppercase;
  font-size: 13px;
  color: #e2ca88;
}
.portfolio h2 {
  padding-top: 25px;
  font-size: 44px;
  color: #4d5c66;
  padding-bottom: 60px;
}
.portfolio p {
  font-size: 18px;
  color: #021725;
  padding-bottom: 50px;
}

.people {
  max-width: 765px;
  display: flex;
  margin: auto;
}
.people h3 {
  text-transform: uppercase;
  color: #e2ca88;
  font-size: 13px;
  padding-left: 15px;
  padding-top: 20px;
}
.people h2 {
  color: #71777c;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 20px;
}
.people p {
  max-width: 200px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
  padding-top: 40px;
  padding-bottom: 50px;
}

.social {
  margin-left: 6px;
  background-color: #f9f9f9;
  max-width: 246px;
}

.portfolio2 {
  margin: auto;
  text-align: center;
  background-color: #ffffff;
}
.portfolio2 h3 {
  padding-top: 165px;
  text-transform: uppercase;
  font-size: 13px;
  color: #e2ca88;
}
.portfolio2 h2 {
  padding-top: 25px;
  font-size: 44px;
  color: #4d5c66;
  padding-bottom: 55px;
}

.post {
  text-align: left;
  display: flex;
  max-width: 768px;
  margin: auto;
  background-color: #f9f9f9;
}
.post h4 {
  font-size: 13px;
  padding-top: 45px;
  padding-left: 40px;
  text-transform: uppercase;
  color: #505d68;
}
.post h2 {
  padding-left: 40px;
  padding-top: 30px;
  color: #505d68;
  font-size: 30px;
}
.post p {
  padding-left: 40px;
  padding-top: 40px;
  color: #505d68;
  font-size: 16px;
}
.post a {
  height: 60px;
  width: 125px;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid black;
  padding: 15px 35px;
  color: black;
}

.read {
  padding-top: 85px;
  padding-left: 40px;
}

.blog {
  text-align: center;
  margin: auto;
}
.blog a {
  height: 60px;
  width: 215px;
  font-size: 14px;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 35px;
  color: black;
}

.blog1 {
  padding-bottom: 165px;
  padding-top: 80px;
  background-color: #ffffff;
}

.container5 {
  padding-bottom: 81px;
  padding-top: 130px;
  margin: auto;
  text-align: center;
  max-width: 765px;
  background-color: #ffffff;
}
.container5 h3 {
  text-transform: uppercase;
  font-size: 13px;
  color: #e2ca88;
}
.container5 h2 {
  padding-top: 25px;
  font-size: 44px;
  color: #747a7f;
  padding-bottom: 55px;
}

.maps1 {
  display: block;
  max-width: 765px;
  background-color: #f9f9f9;
}
.maps1 iframe {
  height: 295px;
  width: 765px;
}

.maps2 {
  max-height: 710px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
}

.container6 {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.container6 p {
  font-size: 16px;
  padding: 40px 200px 35px 230px;
  color: #6a747d;
}

.info {
  text-align: center;
  max-width: 50%;
}
.info h4 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.info p {
  padding-bottom: 50px;
}

/*# sourceMappingURL=style_pro.css.map */
